.container{
    background-image: url("../../public/assets/night.png");
    height: 100vh;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}